body{
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
span{
	text-shadow: 5px 5px 4px black; 
}
.header_background{
background:url('f2.jpg') 100% 100% no-repeat;
-webkit-background-size: cover;
height: 165px;
}
.header_background span{
border-radius: 2px;
color: blue;
left: 0;
bottom:5px;
font-size: 90px;
padding: 3px 5px 0px 50px;
}
.menu {
	width: 100%;
	display: table;
}
.menu ul {
	display: table-row;
}
.menu li {
	display: table-cell;
	position: relative;
	background: #2767A0;
}
.menu li a {
	display: block;
	padding: 15px 15px;
	color: #fff;
	text-align: center;
}
.menu-caret:after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: 3px solid;
	border-right: 3px solid transparent;
	border-bottom: 0;
	border-left: 3px solid transparent;
}
.menu ul li:hover, .menu a:hover {
	background: #666;
}
.menu li:hover ul  {
	display: block;
	position: absolute;
	top: 100%;
	left: 0px;
	background: #666;
	margin: 0;
	padding: 10px 20px;
	width: 150px;
	z-index: 9999;
}
.menu ul ul  {
	display: none;
}
.menu ul ul li  {
	display: block;
	background: #666;
	padding: 5px 0;
}
.menu ul ul li a  {
	display: block;
	padding: 0;
	background: #666;
	text-align: left;
}
table{
    margin:auto;
    text-align: left;
    border-collapse: 1px;
    border: 1px solid #ddd;
    border-spacing: 10px;
    border-radius: 3px;
    background: #fdfdfd;
    font-size: 17px;
    height: 100%;
    width:100%;
    table-layout: fixed;
    word-wrap: break-word;
  }
  .px18 {
  	width: 18%;
  }
  .px20 {
    width: 20%;
  }
  td, th{
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
  }
  th{
    background: #E4E4E4;
  }
  caption{
    font-style: italic;
    text-align: right;
    color: #547901;
  }
h2{
	text-align:right;
}
.oooo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
h3{
  text-align:center;
}
h5{
  text-align: center;
  
}